[run]
branch = True
include =
    antispam/*
    examples/custom_multistage_punishments/AntiSpamTrackerSubclass.py
omit =
    antispam/abc/*
    antispam/deprecation.py
    antispam/__init__.py
    antispam/caches/__init__.py
    antispam/caches/memory/__init__.py
    antispam/caches/redis/__init__.py
    # Covered in other projects @ 100% coverage
    antispam/caches/mongo/document.py
    antispam/caches/mongo/__init__.py
    antispam/dataclasses/__init__.py
    antispam/enums/__init__.py
    antispam/plugins/__init__.py
    antispam/libs/lib_hikari.py
    antispam/libs/lib_pincer.py
    # Implementation testing due to basically just being dpy
    antispam/libs/dpy_forks/*
    antispam/base_plugin.py