[run]
branch = True
omit =
    antispam/abc.py
    antispam/deprecation.py
    antispam/__init__.py
    antispam/caches/__init__.py
    antispam/caches/memory/__init__.py
    antispam/caches/redis/__init__.py
    antispam/dataclasses/__init__.py
    antispam/enums/__init__.py
    antispam/plugins/__init__.py
    antispam/libs/hikari.py
    antispam/libs/pincer.py