black==21.9b0
coveralls==3.1.0
discord==1.0.1
fuzzywuzzy==0.18.0
nest-asyncio==1.5.1
pip-chill==1.0.1
pre-commit==2.15.0
python-levenshtein==0.12.2
snakeviz==2.1.0
sphinx-rtd-theme==0.5.2
twine==3.4.2
typed-ast==1.4.3
