coveralls==3.1.0
fuzzywuzzy==0.18.0
nest-asyncio==1.5.1
pip-chill==1.0.1
python-levenshtein==0.12.2
sphinx-rtd-theme==0.5.2
twine==3.4.1
typed-ast==1.4.3
pytest
pytest-asyncio
hypothesis
sphinx==4.2.0
attrs==21.2.0
setuptools==57.0.0
motor
dnspython

# Your discord libs here
hikari
# discord.py
nextcord
disnake
pincer