aiohttp==3.6.2
alabaster==0.7.12
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.2.0
Babel==2.8.0
black==20.8b1
bleach==3.2.1
certifi==2020.6.20
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
discord.py==1.5.1
distlib==0.3.1
docutils==0.16
filelock==3.0.12
fuzzywuzzy==0.18.0
identify==1.5.2
idna==2.10
imagesize==1.2.0
Jinja2==2.11.2
keyring==21.4.0
MarkupSafe==1.1.1
MouseInfo==0.1.3
multidict==4.7.6
mypy-extensions==0.4.3
nest-asyncio==1.4.0
nodeenv==1.5.0
packaging==20.4
pathspec==0.8.0
Pillow==7.2.0
pkginfo==1.6.1
pre-commit==2.7.1
PyGetWindow==0.0.8
Pygments==2.7.1
PyMsgBox==1.0.8
pyparsing==2.4.7
pyperclip==1.8.0
PyRect==0.1.4
PyScreeze==0.1.26
python-Levenshtein==0.12.0
PyTweening==1.0.3
pytz==2020.1
pywin32-ctypes==0.2.0
PyYAML==5.3.1
readme-renderer==28.0
regex==2020.7.14
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.1
tqdm==4.51.0
twine==3.2.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
virtualenv==20.0.31
webencodings==0.5.1
yarl==1.5.1
fuzzywuzzy==0.18.0
# TODO Cleanup uneeded packages that were installed during development